/*******************************
        Common
*******************************/

body {
  font-size: 17px!important;
}

blockquote p {
  font-size: 17px!important;
  line-height: 1.8!important;
}

.main.container>p {
  font-size: 17px!important;
  line-height: 1.8!important;
}

.ui.vertical.menu .menu .item {
  font-size: 14px!important;
}

.ui.modal>.content {
  font-size: 14px!important;
}

.article {
  min-height: 600px;
}

.main.container>p {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.main.container {
  padding: 2em 0em 2em;
}

/*******************************
  Master headers backgrounds
*******************************/



#home .masthead {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.casestudy .masthead.segment {
    min-height: 500px;
}

.casestudy .masthead h1.ui.header {
    margin-top: 2em;
}

.casestudy .ui.header>.image:not(.icon),.ui.header>img {
    width: 8em;
}
