<div class="ui inverted vertical footer segment">
  <div class="ui container">

    <div class="ui stackable grid">

      <div class="four column centered row">
        <div class="column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="{{site.owner.linkedin}}" target="_blank" class="item"><i class="address card outline icon"></i> Author</a>
            <a href="mailto:{{site.owner.email}}" target="_blank" class="item"><i class="mail icon"></i> Contact</a>
            <a href="{{site.url}}/faq" class="item"><i class="question icon"></i> FAQ</a>
            <a href="{{site.url}}/releases" class="item"><i class="cloud upload icon"></i> Releases</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui inverted header">Locations</h4>
          <div class="ui inverted link list">
            <a href="{{site.extension.download-url}}" target="_blank" class="item"><i class="download icon"></i> Download</a>
            <a href="https://apispots.github.io" target="_blank" class="item"><i class="home icon"></i> Website</a>
            <a href="https://github.com/apispots" target="_blank" class="item"><i class="github icon"></i> Github</a>
            <a href="https://twitter.com/apispots" target="_blank" class="item"><i class="twitter icon"></i> Twitter</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui inverted header">The API Spots &copy; 2017</h4>
          <p>APIs for Humans</p>
          <div class="ui list inverted">
            <div class="item">
              <a class="item github-button" href="https://github.com/apispots/apispots-extension" data-icon="octicon-star" data-show-count="true" aria-label="Star API Spots on GitHub">Star</a>
              <a class="item github-button" href="https://github.com/apispots/apispots-extension/issues" data-icon="octicon-issue-opened" aria-label="Issue apispots/apispots-extension on GitHub">Report an issue</a>
            </div>
            <div class="item">
              <a href="https://twitter.com/apispots" class="item twitter-follow-button" data-show-count="false">Follow @apispots</a>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
