<html>

<head>

  {% include head.html %}

</head>

<body>


  <div class="ui vertical inverted sidebar menu left" id="toc">
    {% include docs/menu.html %}
  </div>


  <div class="ui fixed inverted main menu">
    <div class="ui container">
      <a class="launch icon item">
        API Spots
      </a>

        <div class="item">
          Getting Started
        </div>

    </div>
  </div>

  <div class="pusher">

    <div class="full height">

      <div class="toc">
        <div class="ui vertical inverted menu">
          {% include docs/menu.html %}
        </div>
      </div>

      <div class="article">

        <div class="main ui container">

          {{content}}

        </div>

      </div>

    </div>

    <div class="ui black inverted vertical footer segment">
      {% include common/footer.html %}
    </div>

  </div>

  <script src="../dist/home.bundle.js"></script>

</body>

</html>
