<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {% include head-swaggered.html %}
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ site.url }}/">API Spots</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#features">Features</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="background: url({{ site.url }}/assets/apispots/swaggered/img/swagger-graph.png)">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="color: #f39c12!important;">swagger.ed</h1>
                        <h3 style="color: #f39c12!important;">Change the way you look at APIs</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://github.com/spilio/swagger.ed" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="jumbotron">
        <div class="container">
            <h2>A Chrome extension for APIs visualization</h2>
            <p>
                <b>swagger.ed</b> is a simple Chrome browser extension that displays a visual representation of an API modelled using the
                <a href='https://github.com/OAI/OpenAPI-Specification' target="_blank">OpenAPI</a> spec (fka <a href='http://swagger.io/' target="_blank">Swagger</a>). Simply add the extension on your browser directly from the
                <a href="https://chrome.google.com/webstore/detail/swaggered/kaggdmjacnelneophkagkdljffninnpd" target="_blank">Web Store</a> and visualize API definitions directly from the raw JSON / YAML format.
            </p>
        </div>
    </div>

    <!-- Page Content -->
    <a name="features"></a>
    {% for post in site.categories['projects/swaggered'] reversed %} {% assign loopindex = forloop.index | modulo: 2 %} {% if loopindex == 1 %}
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href='{{ site.url }}{{ post.url }}'>{{ post.title }} </a></h2>
                    <p class="lead">{{ post.excerpt }}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-thumbnail" src="{{site.url}}/assets/{{ post.image.thumb}}" alt="">
                </div>
            </div>

        </div>
    </div>

    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href='{{ site.url }}{{ post.url }}'>{{ post.title }} </a></h2>
                    <p class="lead">{{ post.excerpt }}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-thumbnail" src="{{site.url}}/assets/{{ post.image.thumb}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    {% endif %} {% endfor %}

    <div class="jumbotron">
        <div class="container">
            <h2>Looking for examples?</h2>
            <p>
              If you need some real life API specs to have a go with the extension,
              have a look at the fantastic <a href="http://theapistack.com/" target="_blank">API Stack</a> catalogue by
              the <a href="http://apievangelist.com/" target="_blank">API Evangelist</a> (Kin Lane) or the
              <a href="https://apis-guru.github.io/" target="_blank">APIs Guru</a> directory. All registered APIs
              come with an OpenAPI spec that you can open and visualize using the add-on.
            </p>
        </div>
    </div>

    <!-- /.banner -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <p>
                        Designed and built by <a href="https://twitter.com/spilio" target="_blank">@spilio</a>
                    </p>

                    <div class="social-icons">
                        {% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %} {% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}"
                            title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>{% endif %} {% if site.owner.github %}
                        <a href="{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
                        <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
                    </div>


                    <ul class="list-inline">
                        <li>Special thanks to </li>
                        <li class="footer-menu-divider">⋅</li>
                        {% for credit in site.data.credits.swaggered %}
                        <li><a href="{{ credit.url }}" target='_blank'>{{ credit.name }}</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% endfor %}
                    </ul>

                    <p>Powered by the <a href="{{site.url}}/apispots">API Spots</a></p>

                    <p class="copyright text-muted small">
                        Code licensed under <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC
							BY 3.0</a>.
                    </p>

                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.url }}/assets/themes/creative/js/bootstrap.min.js"></script>

    {% include ga.html %}

</body>

</html>
