<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      The API Spots
    </h1>
    <img class="ui centered image" src="{{site.url}}/assets/images/home/logo.png">
    <h2>APIs for Humans</h2>
    <a href="{{site.extension.download-url}}" target="_blank" class="ui huge inverted button">
      <i class="download icon"></i>  Download
    </a>
    <a href="/docs" class="ui huge inverted basic button">Read the docs</a>
  </div>

</div>
