
<div class="ui vertical stripe intro segment">
  <div class="ui stackable very relaxed center aligned grid container">
    <div class="row">
      <div class="twelve wide column">
        <h1 class="ui header">A Collection Of Human Friendly API Tools</h1>
        <p>
          The API Spots project is a collection of tools for anyone interested
          in understanding and working with APIs without the need for a
          tech-savvy background.
        </p>
      </div>
    </div>
  </div>

  <div class="stackable very relaxed ui grid container">

    <div class="row">
      <div class="seven wide column">
        <h2 class="ui header">Embedded into your Chrome browser</h2>
        <p>API Spots is distributed as a Chrome extension.</p>
        <p>The browser is your workspace, so we got you covered in context.</p>
        <p>Discover, explore and interact with APIs contextually through your browser.</p>
      </div>
      <div class="nine wide column">


      </div>
    </div>
    <div class="ui divider"></div>


    <div class="row">
      <div class="seven wide column">
        <h2 class="ui header">Embedded into your Chrome browser</h2>
        <p>API Spots is distributed as a Chrome extension.</p>
        <p>The browser is your workspace, so we got you covered in context.</p>
        <p>Discover, explore and interact with APIs contextually through your browser.</p>
      </div>
      <div class="nine wide column">


      </div>
    </div>


  </div>
</div>
