
<div class="ui vertical stripe intro segment">
  <div class="ui stackable very relaxed center aligned grid container">
    <div class="row">
      <div class="twelve wide column">
        <h1 class="ui header">A Collection Of Human Friendly API Tools</h1>
        <p>
          The API Spots project is a collection of tools for anyone interested
          in discovering, exploring and interacting with APIs without the need for a
          technology background.
        </p>
      </div>
    </div>
  </div>

  <h2 class="ui horizontal header divider">
    <a href="#">The Manifest</a>
  </h2>

  <div class="stackable very relaxed ui grid container">

    <div class="row">
      <div class="seven wide column">
        <h3 class="ui header">Embedded into your browser</h3>
        <p>API Spots collective is distributed as a Chrome extension.</p>
        <p>The browser is your workspace, so there is no need to keep switching between apps.</p>
        <p>Discover, explore and interact with APIs contextually through your browser.</p>
      </div>
      <div class="nine wide column">
        <img class="ui image medium" src="{{site.url}}/assets/images/home/chrome-extension.jpeg"/>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="row">
      <div class="seven wide column">
        <h3 class="ui header">A galaxy of data and possibilities</h3>
        <p>APIs are the driving force of the Internet today.</p>
        <p>Almost every online application we use has an API exposed that can provide direct access to a multitude of resources.</p>
        <p>The importance of data interchange and service connectivity through APIs has driven to what is known as the API Economy.</p>
      </div>
      <div class="nine wide column">
        <img class="ui image medium" src="{{site.url}}/assets/images/home/api-economy.jpeg"/>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="row">
      <div class="seven wide column">
        <h3 class="ui header">Open source technologies</h3>
        <p>Built entirely on top of open source technologies and specifications.</p>
        <p>Following the lead of top technology experts and supporting the open source community efforts.</p>
        <p>Because together we can make an impact!</p>
      </div>
      <div class="nine wide column">
        <img class="ui image medium" src="{{site.url}}/assets/images/home/open.jpeg"/>
      </div>
    </div>

  </div>
</div>


<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Application Programming Interfaces, also known as APIs"</h3>
          <p>
            This new way of sharing data using the web is touching almost every aspect of our increasingly
            digital lives, providing access to the bits and bytes that make our personal
            and professional worlds go round.
          </p>
          <p>
            <img src="{{site.url}}/assets/images/home/kinlane.png" class="ui avatar image"> <b>Kin Lane</b>
            <a href="https://apievangelist.com/" target="_blank">The API Evangelist</a>
          </p>
        </div>
      </div>
    </div>
  </div>
